body {
    background-color: rgb(0, 0, 35);
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

@media only screen and (hover: none) and (pointer: coarse) {

    input,
    select,
    textarea {
      font-size: 11px;
    }
  
    input:focus,
    select:focus,
    textarea:focus {
      font-size: 16px;
    }
}


#mainContainer {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}

#boardContainer {
    display: grid;
    justify-content: center;
    justify-self: center;
    margin: 10px auto;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px;
    position: relative;
    box-shadow: -2px -2px 63px 10px rgba(0,0,0,0.75);
    width: fit-content;
    background-color: darkred;
    background-image: url('/imgs/Dragon_of_Bhutan.png');
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 12px ridge burlywood; 
}

.gridSpot {
    display: grid;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: black;
    background-color: white;
    background-size: contain ;
}

.gridLabel {
    display: block;
    pointer-events: none;
}

#winnerBoard {
    display: grid;
    background-color: black;
    width: fit-content;
    border-radius: 30px;
    border: 5px solid yellow;
    color: white;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    z-index: 1003;
}


.king {
    background-image: url('/imgs/ChessKing.png');
    rotate: 0deg
}

.normal {
    background-image: url('/imgs/Dragon_of_Bhutan.png');
    rotate: 18deg;
}


.checkerPiece {
    display: grid;
    padding: 0px;
    position: relative;
    border: 4px double white;
    border-radius: 50%;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    box-shadow: 3px 8px 10px 5px rgba(0,0,0,0.75);
    cursor: grab;

}

.possibleMove {
    display: grid;
    width: 35px;
    height: 35px;
    padding: 0px;
    position: relative;
    border: 4px double white;
    border-radius: 50%;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1001;
    background-color: #47F5A1;
    opacity: .5;
    cursor: pointer;
    /**pointer-events: none; */
}


.gridLabel {
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.show {
    display: grid !important;
}

.hide {
    display: none !important;
}

#selectColor {
    z-index: 1004;
}


#userInterface {
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    background-color: #00A856;
    width: 340px;
    height: 180px;
    border-radius: 10px;
}

#createAccountUI {
    padding: 5px 0;
    text-align: center;
    margin: 5px auto;
    height: fit-content;
    width: fit-content;
}

#createUser {
    cursor: pointer;
}

#searchUI {
    padding: 5px 0;
    text-align: center;
    margin: 5px auto;
    width: fit-content;
    height: fit-content;
}

#searchUser {
    cursor: pointer;
}


#setUp {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.playerButton {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}


#matchRequest, #matchAnswer, #enemyDisconnected, #notOnline, #invitePlayer {
    position: absolute;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background-color: whitesmoke;
    border: 20px solid blue;
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    height: fit-content;
    z-index: 1005;
}

#matchRequest, #invitePlayer {
    border: 20px solid #47F5A1;
    border-radius: 20px;
}

#matchAnswer, #enemyDisconnected, #notOnline {
    border: 10px solid #F55C47;
    border-radius: 20px;
}

.matchButton {
    padding: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 5px auto;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;

}


#playersOnline {
    display: inline-block;
    position: relative;
    padding: 0px;
    justify-items: center;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    z-index: 1003;
    box-sizing: border-box;
    cursor: pointer;
}

#optionsContainer {
    padding: 0px;
    text-align: center;
    margin: 5px auto;
    width: 100%;
    z-index: 1004;
    height: 2ch;
    cursor: pointer;
}

#searchFriendDiv {
    padding: 0px;
    text-align: center;
    margin: 5px auto;
    width: 100%;
    z-index: 1004;
    height: 2ch;
}

.dropdownBtn {
    border-radius: 0px;
    cursor: pointer;
}

.dropdownBtn:hover {
    background-color: #ddd; 
}
  
.dropdownContent {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    padding: 0px;
    background-color: white;
}

.dropdownContent a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
}

#playersOnline a:hover {
    background-color: #ddd;
}

.show1 {
    display: block;
}


@keyframes mynewmove {
    from {top: 0px;}
    to {top: 325px;}
}

.starterBoard {
    display: grid;
    width: fit-content;
    margin: 0px auto;
    padding: 0px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.starterBoard a {
    margin: 0 auto;
    font-family: 'Bungee Spice', cursive;
    font-size: 1.7em ;
}
